import(stats,methods,utils,graphics,grDevices,MASS,grid,lattice,foreign,RODBC,R2HTML,tcltk,sp,compiler)
exportPattern("^[^\\.]")
exportPattern(".switch?")
export(.claslist, .anydiagramlist,.tectlist,.userlist,.save2hist, .introMenu, .autoassign.pch, .plateOff, .getSlot, .normalization, .fcm, .my.template)
export(.assignWithNamespaceHard, .round.min.down, .round.max.up,.generateUserHTMLHelp,.curveMy)
export(.getRelevantReservoirs,.figAddReservoirsLoad,.figAddReservoirsBinary,.figAddReservoirsSpider,.figAddReservoirsDebonLoad)
export(.build.legend, .whichHexaColour, .transparencyInternational, .definedPalettes,.plateSetup,.eraseScreen,.loadCurPlotDef,.fig.spider.axes)
export(.HTML.table.core, .HTMLInitFileMy, .HTMLEndFileMy, .HTML.reformat,.plateLabelSlotsI,.plateFig)
export(.menuPopUp,.saveCurPlotDef,.loadData.process,.srafuj,.figZooming.plate,.fig.deeval,.reRunPlate,.figAddReservoirsMinsLoad)
export(.copydevSWord,.atoms.from.formula,.formula.reader)
export(.tkmessageBoxMy,.tkCheckBoxMy,.selectSingle.tk,.tkCheckBoxesMy,.tkListBoxMy,.tkEntryTextsMy,.tkEntryTexttMy,.tkRadioButtonMy)
export( .EarthChemStart,.figArcMapDraw,.menu.del,.optionsLoad)
#export(.getFromXML,.xmlRead)
#export(.qgis2gcdkit,.plotMenu.tk)
